{% extends 'base.html.twig' %}

{% block title %}Réserver une table{% endblock %}

{% block body %}
<nav className='ariane' aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Accueil</a></li>
      <li class="breadcrumb-item active" aria-current="page">Réservation</li>
    </ol>
</nav>
<div class="container">
    
        
    {{ form_start(form, {'attr': {'class': 'container col-12 col-lg-5 mt-4'}}) }}
   
        {% if app.user %}
            {{ form_row(form.day, {'attr': {'class': 'form-control'}})}}
            {{ form_row(form.email, {'attr': {'class':'form-control','value':app.user.email }}) }}
            {{ form_row(form.numberOfpeople, {'attr': {'class': 'form-control', 'value':app.user.nbrCouvert}})}}
            {{ form_row(form.allergie, { 'attr': {'class': 'form-control mb-3', 'value':app.user.allergie}})}}
        {% else %}
            {{ form_row(form.day, {'attr': {'class': 'form-control','id':'choicedate'}})}}
            {{ form_row(form.email, {'attr': {'class':'form-control'}}) }}
            {{ form_row(form.numberOfpeople, {'attr': {'class': 'form-control'}})}}
            {{ form_row(form.allergie, { 'attr': {'class': 'form-control mb-3'}})}}
        {% endif %}
        
            <span>Midi</span>
            <div id="creneauxMatin" class="m-2 p-2 border border-primary rounded">                   
            </div>

            <span>Soir</span>
            <div id="creneauxSoir" class="m-2 p-2 border border-primary rounded">    
            </div>
            <div id="creneauxDispo">        
            </div>
        
    {{form_widget(form.creneaux,{'attr': {'hidden': true}})}}
    {{form_rest(form)}}

    
        <input id="buttonReserver" class='btn btn-primary m-4' type="submit" value="Réserver"></input>
        <a class='btn btn-primary m-4' href="/">Annuler et revenir à l'accueil</a>
    
</div>
<script src="scripts/reservation.js"></script>
{% endblock %}
