{% extends 'base.html.twig' %}

{% block title %}Réserver une table{% endblock %}

{% block body %}

    <div class="w-50 m-auto text-center pt-2 pb-5">{{day|format_date('full', locale='fr')}}</div>
   
    {{ form_start(form, {'attr': {'class': 'container col-12 col-lg-4'}}) }}
        {% if app.user %}
            {{ form_row(form.email, {'attr': {'class':'form-control','value':app.user.email }}) }}
            {{ form_row(form.numberOfpeople, {'attr': {'class': 'form-control', 'value':app.user.nbrCouvert}})}}
            {{ form_row(form.allergie, { 'attr': {'class': 'form-control mb-3', 'value':app.user.allergie}})}}
        {% else %}
            {{ form_row(form.email, {'attr': {'class':'form-control'}}) }}
            {{ form_row(form.numberOfpeople, {'attr': {'class': 'form-control'}})}}
            {{ form_row(form.allergie, { 'attr': {'class': 'form-control mb-3'}})}}
        {% endif %}
    
    {% if ferme %}
        <h4>Le restaurant est fermé</h4> 
    {% else %}
    <span>Midi</span>
    <div class="m-2">
    {% if completM %}     
            <h4>Le restaurant est complet</h4>
    {% else %}        
      {% for creneauMatin in creneauxMatin %}
              
        {% if creneauMatin == "0:00" %}
            <span>Fermé ce jour</span>
        {% else %}      
            {% if creneauMatin in creneauxIndisponibles %}
                <input class="btn btn-secondary m-1 opacity-25 noHover" type="button" value="{{creneauMatin}}">
            {% else %}
                <input id="{{creneauMatin}}" class="btn btn-secondary m-1" type="button" value="{{creneauMatin}}" onclick="creneauxChoice(this.id)">
            {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
    </div>

    <span>Soir</span>
    <div class="m-2">
    {% if completA %}
        <h4>Le restaurant est complet</h4> 
    {% else %}
      {% for creneauAprem in creneauxAprem %}
        {% if creneauAprem == "0:00" %}
            <span>Fermé ce jour</span>   
        {% else %}           
            {% if creneauAprem in creneauxIndisponibles %}
                <input class="btn btn-secondary m-1 opacity-25 noHover" type="button" value="{{creneauAprem}}">
            {% else %}
                <input id="{{creneauAprem}}" class="btn btn-secondary m-1" type="button" value="{{creneauAprem}}" onclick="creneauxChoice(this.id)">
            {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %} 
    </div>
    {% endif %} 
    {{form_widget(form.creneaux,{'attr': {'hidden': true}})}}
    {{form_rest(form)}}

    <input class='btn btn-primary mt-4 mb-4' type="submit" value="Réserver"></input>
    
{% endblock %}
